
mat-card {
  margin: 20px;
  padding: 40px;
}
.container {
  display: flex;
  flex-direction: column;
}

.radio-buttons , .add-button{
  margin-left: 15px;
}

.radio-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}
